/* This file contains styles for menu*/

.nav {
    float:left;
    width:100%;
/*	background:#CCC;*/
    border-bottom: 1px solid #ccc;  	
    margin-bottom: 10px;
}

.nav .mail {
    float: right;
    padding-right:16px;
    padding-top: 12px;
    color: #999;
}

.nav>.mail>a {
    color: #999;	
}

.nav>.mail>a:hover {
    color: black; /*#003366;	*/
}

.nav>ul {
    list-style: none;
    padding-left:0;
    margin:0;
}


.nav>ul>li { 
    float: left; 
    position: relative; 
    border-right: 1px solid #BBB; 
    text-align: center;
}

.nav>ul>li a{ 
    padding:8px 16px; 
    font-size: 24px;
    text-align:left;
    line-height: 24px;
    display: block; 
    color: black;/*#FF7700;*/
    overflow: hidden;
}

.nav>ul ul { 
    border: none; 
    display:none;

    padding:0;
    margin:0;

    list-style:none;
    position:absolute;

    width:160px;

    box-shadow:0 2px 2px gray;
    background:#FFF;
    z-index: 9999;
}

.nav>ul ul li {
    border-top:1px solid #ccc;	
    font-size: 12px;
}


.nav>ul ul li a { 
	padding:8px 8px; 
	display: block; 
        font-size: 12px;
        line-height: 1.2;
	color: #00AEEF;
}

.nav>ul a:hover {
    background: #EEE url("images/pw_maze_blue.png");
}

.nav>ul  a.active{
    background: #EEE url("images/pw_maze_skyblue.png");
    text-shadow: 0px 0px 3px silver;
	color:white;/*#003366;*/
}

.nav>ul ul a:hover {
    color:black;
}

/* ICON */
.nav .icon {
    float: left;
    display:block;
    height:24px;
    margin-right:4px;
    text-align:left;
    border:none;
}


